@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ecf0f1;
}

body,
form {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  min-height: 100vh; /* Menjaga tinggi minimum agar sesuai dengan viewport */
  display: flex;
  flex-direction: column;
}

main::not(.more) {
  overflow: hidden;
}

.add-task {
  background-color: rgba(248, 249, 249, 0.7);
}

.theme-blue {
  background-color: #3498db;
}

.home-theme-blue {
  background-color: #85c1e9;
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  main {
    margin: 10px auto 10px auto !important;
  }
}

/* Large desktop (min-width: 1440px) */
@media (min-width: 1440px) {
}
